[Unit]
Description=Discover prometheus tunnel socket & send to remote
After=prometheus-tunnel.service
BindsTo=prometheus-tunnel.service

[Service]
EnvironmentFile=/usr/lib/systemd/system/prometheus-tunnel.service.d/tunnel.conf
Type=oneshot
ExecStart=/usr/local/bin/discover-prometheus-tunnel

[Install]
WantedBy=prometheus-tunnel.service
Alias=prometheus-tunnel-discovery.service
